<div class="col-md-12 col-sm-12 col-xs-12" id="">
    <div style="border-radius: 5px" class="x_panel">
        <div class="x_content">
            <table id="tablaReportes" class="table table-bordered table-striped dataTables_scroll">
                <thead style="background-color: #5A738E;color: whitesmoke">
                <th>USUARIO</th>
                <th style="text-align: center">Nº DOCUMENTO</th>
                <th style="text-align: center">TIPO DOCUMENTO</th>
                <th style="text-align: center">CLIENTE</th>
                <th style="text-align: center">TOTAL DE LA PROFORMA</th>
                <th style="text-align: center">FECHA EMISON</th>
                </thead>
                <tbody>
                    {% for documento in documentos %}
                        <tr>
                        <td>{{ documento.usuario }}</td>
                            <td style="text-align: center">{{ documento.secuencial }}</td>
                            <td style="text-align: center">{{ documento.tipo }}</td>
                            <td>{% if documento.cliente.razonSocial %}
                                {{ documento.cliente.razonSocial }}
                                {% else %}
                                {{ documento.cliente.nombre }} {{ documento.cliente.apellido }}
                            {% endif %}
                             </td>
                            <td style="text-align: center">{{ documento.total }}</td>
                            <td style="text-align: center">{{ documento.fecha|date:"d/m/Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    Tablas("#tablaReportes");
</script>