{% extends 'base.html' %}
{% block title %}
    Cartera | Registro de Cuentas
{% endblock %}
{% block content %}
    <form action="" method="post">
    <div class="right_col" role="main">
        <input type="hidden" style="width: 100%" name="json" id="json">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                {% if mensaje %}
                    <div class="alert alert-success mensaje">
                        <label>{{ mensaje }}</label>
                    </div>
                {% endif %}
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div style="border-radius: 5px" class="x_panel">
                        <div class="x_title">
                            <a href="/cartera/cuentasCobrar/">
                                <h2>Cartera »
                                    <small><strong>Datos de la {{ factura.tipo }}</strong></small>
                                </h2>
                            </a>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">FECHA: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text" readonly
                                                   class="form-control has-feedback-left" name="fechaCompra"
                                                   value="{{ factura.fecha|date:"d/m/Y" }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">No. Factura: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text"
                                                   class="form-control has-feedback-left" name="numeroFactura" readonly
                                                   value="{{ factura.codigoEstablecimiento }}-{{ factura.puntoEmision }}-{{ factura.secuencial }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Clave de Acceso: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text"
                                                   class="form-control has-feedback-left" name="claveAcceso" readonly
                                                   value="{{ factura.clave_acceso }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Subtotal 0% <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text"
                                                   class="form-control has-feedback-left" name="sub0" readonly
                                                   value="{{ factura.subtotal_0|floatformat:2 }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Subtotal IVA</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text" readonly
                                                   class="form-control has-feedback-left" name="sub12"
                                                   value="{{ factura.subtotal_iva|floatformat:2 }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">IVA</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text"
                                                   class="form-control has-feedback-left" name="iva" readonly
                                                   value="{{ factura.iva|floatformat:2 }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">ICE</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text"
                                                   class="form-control has-feedback-left" name="ice" readonly
                                                   value="{{ factura.ice|floatformat:2 }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">IRBPNR</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text"
                                                   class="form-control has-feedback-left" name="sub12" readonly
                                                   value="{{ factura.irbpnr|floatformat:2 }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">DESCUENTO</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text"
                                                   class="form-control has-feedback-left" name="desc" readonly
                                                   value="{{ factura.descuento|floatformat:2 }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">TOTAL</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" type="text"
                                                   class="form-control has-feedback-left" name="totales" readonly
                                                   id="total"
                                                   value="{{ factura.total|floatformat:2 }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div style="border-radius: 5px" class="x_panel">
                        <div class="x_title">
                            <h2>Cartera »
                                <small><strong>Datos del Cliente</strong></small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">CEDULA / RUC: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="ruc"
                                                   value="{{ factura.cliente.ruc }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">NOMBRES: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="nombres"
                                                   value="{{ factura.cliente.nombre }} {{ factura.cliente.apellido }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">TELÉFONO: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="telefono"
                                                   value="{{ factura.cliente.telefono }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">DIRECCIÓN: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="direccion"
                                                   value="{{ factura.cliente.direccion }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">PAIS: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="pais"
                                                   value="{{ factura.cliente.parroquia.lugar.lugar.lugar.nombre }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">PROVINCIA: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="provincia"
                                                   value="{{ factura.cliente.parroquia.lugar.lugar.nombre }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">CIUDAD: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="ciudad"
                                                   value="{{ factura.cliente.parroquia.lugar.nombre }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">PARROQUIA: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="parroquia"
                                                   value="{{ factura.cliente.parroquia.nombre }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">E-MAIL: <span
                                                class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input style="border-radius: 5px" readonly type="text"
                                                   class="form-control has-feedback-left" name="email"
                                                   value="{{ factura.cliente.email }}">
                                            <span class="fa fa-user form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> <span
                                                class="required"> </span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12" style="text-align: right">
                                            <a href="{% url 'convertirNota_to_Factura' factura.id %}" class="btn btn-danger">Facturar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="border-radius: 5px" class="x_panel">
                    <div class="x_title">
                        <h2>Cartera »
                            <small><strong>Configuración de Pagos</strong></small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="form-group horizontal">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">FECHA(inicial):</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        {% if cuenta %}
                                        <input style="border-radius: 5px; text-align: center" type="date" value="{{ cuenta.fecha|date:"Y-m-d" }}" readonly
                                               class="form-control has-feedback-left" id="fechaInicial"
                                               name="fechaInicial">
                                        <span class="fa fa-calendar form-control-feedback left"
                                              aria-hidden="true"></span>
                                            {% else %}
                                            <input style="border-radius: 5px" type="date"
                                               class="form-control has-feedback-left" id="fechaInicial"
                                               name="fechaInicial">
                                        <span class="fa fa-calendar form-control-feedback left"
                                              aria-hidden="true"></span>
                                        {% endif %}

                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">ABONO:</label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        {% if cuenta %}
                                            {% for tr in tabla %}
                                                {% if tr.n_pago == 1 %}
                                                    <input style="border-radius: 5px; text-align: right" type="text" readonly class="form-control has-feedback-left" id="abono"
                                                           name="abono" value="{{ tr.abono }}">
                                                    <span class="fa fa-dollar form-control-feedback left"
                                                          aria-hidden="true"></span>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <input style="border-radius: 5px; text-align: right" type="text" class="form-control has-feedback-left" id="abono" name="abono" value="0.00">
                                            <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span>
                                        {% endif %}

                                    </div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">PLAZO(días):</label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <input style="border-radius: 5px" type="number" readonly
                                               class="form-control has-feedback-left" name="frecuencia" id="dias"
                                               value="{{ factura.diasPlazo }}">
                                        <span class="fa fa-sort-numeric-desc form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group horizontal">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Valor de la Cuota:</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input style="border-radius: 5px; text-align: right" readonly type="text"
                                               class="form-control has-feedback-left"
                                               value="{{ factura.total|floatformat:2 }}" id="valorCuota"
                                               name="valorCuota">
                                        <span class="fa fa-money form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">CUOTAS:</label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                       {% if cuenta %}
                                         <input style="border-radius: 5px; text-align: right" type="text"
                                               class="form-control has-feedback-left" id="cuotas" name="cuotas" readonly value="{{ cuenta.cuotas }}">
                                         <span class="fa fa-sort-numeric-asc form-control-feedback left"
                                              aria-hidden="true"></span>
                                           {% else %}
                                            <input style="border-radius: 5px; text-align: right" type="text"
                                               class="form-control has-feedback-left" id="cuotas" name="cuotas"  value="1">
                                         <span class="fa fa-sort-numeric-asc form-control-feedback left"
                                              aria-hidden="true"></span>
                                       {% endif %}
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12"> </label>
                                    <div class="col-md-offset-1 col-md-2 col-sm-2 col-xs-12">
                                        {% if  not tabla %}
                                        <button style="width: 100%" class="btn btn-danger right">Registrar</button>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="border-radius: 5px" class="x_panel">
                    <div class="x_title">
                        <h2>Tabla de Pagos »
                            <small><strong>Monto Total: <i style="font-size: 20px">{{ factura.total|floatformat:2 }} &nbsp;&nbsp;</i></strong>
                                {% if cuenta.estado %}
                                    <strong style="font-size: 15px; color: green"><i class="fa fa-money"> </i> ESTA CUENTA NO REGISTRA SALDOS PENDIENTES</strong>
                                {% else %}
                                    <strong style="font-size: 15px; color: orangered"><i class="fa fa-money"> </i> ESTA CUENTA REGISTRA SALDOS PENDIENTES DE PAGO</strong>
                                {% endif %}
                            </small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group" style="text-align: right !important;">
                            {% if tabla %}
                                <a href="{% url 'tablapagosCuentasCobrar' cuenta.id %}" target="_blank" class="btn bg-green"><i class="glyphicon glyphicon-print"></i> Imprimir</a>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive ">
                                {% if tabla %}
                                    <table id="tablaDatos" class="table table-bordered table-striped">
                                    <thead style="background: #2A3F54; color:white;">
                                    <th style="width: 100px;text-align: center">No. Pagos</th>
                                    <th style="text-align: center">Usuario</th>
                                    <th>Detalle</th>
                                    <th style="text-align: center; width: 150px">Fecha Esperada</th>
                                    <th style="text-align: center; width: 150px">Fecha Pago</th>
                                    <th style="text-align: center">Pago</th>
                                    <th style="text-align: center">Saldo</th>
                                    <th style="text-align: center; width: 100px">Recibo</th>
                                    <th style="text-align: center; width: 100px">Liquidación</th>
                                    <th style="text-align: center; width: 50px">PPT</th>
                                    </thead>
                                    <tbody>
                                        {% for tr in tabla %}
                                            <tr>
                                                <td style="vertical-align: middle; text-align: center">{{ tr.n_pago }}</td>
                                                <td style="text-align: center;vertical-align: middle">{{ tr.caja.usuario }}</td>
                                                <td style="vertical-align: middle">{{ tr.detalles }}</td>
                                                <td style="text-align: center; vertical-align: middle">{{ tr.fecha_esperada|date:"d/m/Y" }}</td>
                                                <td style="text-align: center; vertical-align: middle">{{ tr.fecha_pago|date:"d/m/Y" }}</td>
                                                <td style="text-align: center; vertical-align: middle">{{ tr.abono }}</td>
                                                <td style="text-align: center; vertical-align: middle">{{ tr.saldo }}</td>
                                                <td style="text-align: center; vertical-align: middle; color: red;">{% if tr.estado %}
                                                    <a target="_blank" href="{% url 'ReciboPgoCuentaCobrar' tr.id %}"><i class="fa fa-print"></i> Imprimir</a>
                                                {% else %}
                                                    <i class="fa fa-close"></i>
                                                {% endif %}</td>
                                                <td style="text-align: center; vertical-align: middle">
                                                    {% if tr.estado %}
                                                        <label style="font-size: 15px; color: #00A000"><i class="fa fa-check"></i></label>
                                                    {% else %}
                                                        <a href="{% url 'PagarCuentaCobrar' tr.id %}">
                                                        <i class="fa fa-money"></i> Pagar</a>
                                                    {% endif %}
                                                </td>
                                                <td style="text-align: center">{% if not tr.estado %}
                                                    <a data-toggle="modal" href="#liquidacion"
                                                       class="btn btn-danger"
                                                       style="padding: 0px; padding-left: 5px; padding-right: 5px"
                                                        onclick="mostrar('{{ tr.n_pago }}','{{ tr.saldo }}','{{ tr.abono }}','{{ tr.id }}')"><i class="fa fa-plus-circle"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                                {% else %}
                                    <table id="tabla" name="tabla" class="table table-bordered table-striped">
                                    <thead style="background: #2A3F54; color:white;">
                                    <th style="width: 100px;text-align: center">No. Pagos</th>
                                    <th>Detalle</th>
                                    <th style="text-align: center; width: 100px">Fecha</th>
                                    <th style="text-align: center">Monto</th>
                                    <th style="text-align: center">Saldo</th>
                                    <th style="text-align: center; width: 100px">Estado</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    </form>

    <div class="modal fadeInLeft " id="liquidacion" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Liquidación Total o parcial </h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'PagarCuentaCobrarPPT' %}" method="post" role="form">
                        <div class="form-group col-md-6 col-sm-9 col-xs-12">
                        <label>Abono No.</label> <input type="hidden" name="pagost" value="{{ cuenta.cuotas|add:'1' }}" id="pagost">
                        <input readonly style="border-radius: 5px" class="form-control" type="text" name="nabono" id="nabono"/>
                    </div>
                        <div class="form-group col-md-6 col-sm-9 col-xs-12">
                            <label>Saldo Anterior</label>
                            <input readonly style="border-radius: 5px" required class="form-control" type="text" name="saldoant" id="saldoant"/>
                        </div>
                        <input type="hidden" id="tr" name="det">
                        <div class="form-group col-md-6 col-sm-9 col-xs-12">
                            <label>Abono</label>
                            <input style="border-radius: 5px" required value="0.00" class="form-control" type="text"id="ppt" name="ppt"/>
                        </div>

                        <div class="form-group col-md-6 col-sm-9 col-xs-12">
                            <label>Saldo a la Fecha</label>
                            <input readonly style="border-radius: 5px" required class="form-control" type="text" name="saldoppt" id="saldoppt"/>
                        </div>
                        <div class="form-group col-md-6 col-sm-9 col-xs-12">
                            <label>Valor de las Cuotas Restantes</label>
                            <input readonly style="border-radius: 5px" class="form-control" required type="text" name="parcial" id="abonosppt"/>
                        </div>
                        <div class="form-group col-md-6 col-sm-9 col-xs-12">
                            <label>Detalle del registro</label>
                            <textarea required style="border-radius: 5px" class="form-control" name="detallesppt" id="detallesppt">Al Pago</textarea>
                        </div>
                        <div class="form-group col-xs-12" style="padding-top: 20px; text-align: right">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> REGISTRAR</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-sign-in"></i> SALIR</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function mostrar(nabono,saldoant,pago,tr){
            $("#nabono").val(nabono);
            saldoante=parseFloat(saldoant.replace(",",".")) + parseFloat(pago.replace(",","."));
            $("#saldoant").val(saldoante.toFixed(2));
            abono=parseFloat($("#ppt").val().replace(",","."));
            saldo=saldoante - abono;
            $("#saldoppt").val(saldo.toFixed(2))
            $("#tr").val(tr)
        }
        $("#ppt").keyup(function(){
            saldoant=parseFloat($("#saldoant").val().replace(",","."));
            abono=parseFloat($("#ppt").val().replace(",","."));
            saldo=saldoant-abono
            $("#saldoppt").val(saldo.toFixed(2))
            pagos=parseFloat($("#nabono").val())
            tpagos=(parseFloat($("#cuotas").val())+1);


            cuota = (saldo /(tpagos - pagos)).toFixed(2);
            $("#abonosppt").val(cuota)
        })
    </script>
    <script>
        function tablaToJson(tabla)
        {
            var rows=[];
            $("#"+tabla+ ' tbody tr').each(function(){
                rows.push({
                    Id: $(this).find('td:eq(0)').text(),
                    Detalles: $(this).find('td:eq(1)').text(),
                    Fechas: $(this).find('td:eq(2)').text(),
                    Pagos: $(this).find('td:eq(3)').text(),
                    Saldos: $(this).find('td:eq(4)').text()
                });
                console.log(JSON.stringify(rows));
            });
            $("#json").val(JSON.stringify(rows));
        }

        addFilas($("#cuotas").val())
        $("#cuotas").keyup(function () {
            if (parseInt($("#cuotas").val()) < 1) {
                $("#cuotas").val(1);
            }
            totalFactura = parseFloat($("#total").val().replace(",", "."))
            abono = parseFloat($("#abono").val().replace(",", "."));
            total = totalFactura - abono;
            cuota = (total / parseFloat($("#cuotas").val())).toFixed(2);
            $("#valorCuota").val(cuota)
            addFilas($("#cuotas").val())
        });
        $("#abono").keyup(function () {
            if (parseInt($("#cuotas").val()) < 1) {
                $("#cuotas").val(1);
            }
            totalFactura = parseFloat($("#total").val().replace(",", "."))
            abono = parseFloat($("#abono").val().replace(",", "."));
            total = totalFactura - abono;
            cuota = (total / parseFloat($("#cuotas").val())).toFixed(2);
            $("#valorCuota").val(cuota)
            addFilas($("#cuotas").val())
        });

        $("#fechaInicial").change(function () {
            if (parseInt($("#cuotas").val()) < 1) {
                $("#cuotas").val(1);
            }
            totalFactura = parseFloat($("#total").val().replace(",", "."))
            abono = parseFloat($("#abono").val().replace(",", "."));
            total = totalFactura - abono;
            cuota = (total / parseFloat($("#cuotas").val())).toFixed(2);
            $("#valorCuota").val(cuota)
            addFilas($("#cuotas").val())
        }).change();

        function addFilas(numero) {
            $("#tabla tbody tr").remove();
            for (var i = 0; i < parseInt(numero)+1; i++) {
                fecha=sumaDias((i*(parseInt($("#dias").val())/parseInt(numero))),$('#fechaInicial').val())
                var tds = '<tr>';
                abono = parseFloat($("#abono").val().replace(",", "."));
                var valor=0.00;
                var saldo=0.00;

                if(i==0){
                   valor= abono;
                   saldo= parseFloat($("#total").val().replace(",", ".")) - valor
                    detalle="Pago Inicial"
                }
                else{
                    valor = parseFloat($("#valorCuota").val());
                    if(i>=1){
                        saldo= parseFloat($("#total").val().replace(",", ".")) - (valor * (i))  - abono
                    }
                    detalle="Al Pago"
                }
                    tds += '<td style="text-align:center">' + (i + 1) + '</td><td name="detalles">' + detalle + '</td><td style="text-align:center" name="fechas">' + fecha + '</td><td style="text-align:center" name="pagos">' + valor.toFixed(2) + '</td><td style="text-align:center" name="saldos">' + saldo.toFixed(2) + '</td><td style="text-align:center"><label class="label label-success">Pendiente de pago</label></td>';
                tds += '</tr>';
                $("#tabla").append(tds);
                tablaToJson("tabla");
            }

        }

        function sumaDias(d, fecha) {
            var Fecha = new Date();
            var sFecha = fecha || (Fecha.getDate() + "/" + (Fecha.getMonth() + 1) + "/" + Fecha.getFullYear());
            var sep = sFecha.indexOf('/') != -1 ? '/' : '-';
            var aFecha = sFecha.split(sep);
            var fecha = aFecha[0] + '/' + aFecha[1] + '/' + aFecha[2];
            fecha = new Date(fecha);
            fecha.setDate(fecha.getDate() + parseInt(d));
            var anno = fecha.getFullYear();
            var mes = fecha.getMonth() + 1;
            var dia = fecha.getDate();
            mes = (mes < 10) ? ("0" + mes) : mes;
            dia = (dia < 10) ? ("0" + dia) : dia;
            var fechaFinal = dia + "/" + mes + "/" + anno;
            return (fechaFinal);
        }
    </script>
    <script>
        window.onload = function () {
            var fecha = new Date(); //Fecha actual
            var mes = fecha.getMonth() + 1; //obteniendo mes
            var dia = fecha.getDate(); //obteniendo dia
            var ano = fecha.getFullYear(); //obteniendo año
            if (dia < 10)
                dia = '0' + dia; //agrega cero si el menor de 10
            if (mes < 10)
                mes = '0' + mes //agrega cero si el menor de 10
            {% if not cuenta %}
                document.getElementById('fechaInicial').value = ano + "-" + mes + "-" + dia;
            {% endif %}
        }
        Tablas('#tablaDatos');
        setTimeout(function(){
            $(".mensaje").hide()
        },8000)
    </script>
{% endblock %}