<div class="x_content">
    <div class="col-md-12 col-sm-12 col-xs-12 " id="">
        <table id="tablaConsultas" class="table table-striped table-bordered  ">
            <thead style="background-color: #5A738E;color: whitesmoke">
            <th style="text-align: center">NO. DOCUMENTO</th>
            <th style="text-align: center">FECHA EMISION</th>
            <th style="text-align: center">PROVEEDOR</th>
            <th style="text-align: center">IDENTIFICACION</th>
            <th style="text-align: center">VALOR TOTAL</th>
            <th style="text-align: center">ESTADO</th>
            </thead>
            <tbody>
            {% for retencion in retenciones %}
                <tr>
                    <td style="text-align: center; vertical-align: middle">
                        <a target="_blank" href="/consulta/listarPDFRetencion/{{ retencion.id }}/"> <i
                                class="fa fa-file-pdf-o text-danger"></i> {{ retencion.secuencial }}
                        </a>
                    </td>
                    <td style="text-align: center; vertical-align: middle">{{ retencion.fecha|date:"d/m/Y" }}</td>
                    <td style="vertical-align: middle">
                        {% if retencion.proveedor.razonSocial %}
                            {{ retencion.proveedor.razonSocial }}
                        {% else %}
                            {{ retencion.proveedor.nombreComercial }}
                        {% endif %}
                    </td>
                    <td style="vertical-align: middle">{{ retencion.proveedor.ruc }}</td>
                    <td style="text-align: center; vertical-align: middle">{{ retencion.valor_total|floatformat:2 }}</td>
                    <td style="text-align: center; vertical-align: middle">
                        {% if retencion.estado %}
                            AUTORIZADO
                        {% else %}
                            NO AUTORIZADO
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    Tablas("#tablaConsultas");
</script>