amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
attrs==18.2.0
Babel==2.9.1
billiard==3.3.0.23
cached-property==1.5.1
celery==3.1.26.post2
certifi==2018.8.24
chardet==3.0.4
defusedxml==0.5.0
dicttoxml==1.7.4
Django==2.0
django-bootstrap4==0.0.7
django-celery==3.2.2
django-filter==2.0.0
django-group-by==0.3.1
django-jet==1.0.7
django-mathfield==0.1.0
django-preventconcurrentlogins==0.8.2
djangorestframework==3.8.2
flower==0.9.2
html5lib==1.0.1
httplib2==0.11.3
idna==2.7
isodate==0.6.0
kombu==3.0.37
lxml==4.2.4
Markdown==2.6.11
olefile==0.44
Pillow==5.2.0
pisa==3.0.33
psycopg2==2.7.5
PyPDF2==1.26.0
pytz==2018.5
reportlab==3.5.5
requests==2.19.1
requests-toolbelt==0.8.0
six==1.11.0
tornado==5.1
urllib3==1.23
vine==1.1.4
webencodings==0.5.1
xhtml2pdf==0.2.2
zeep==3.1.0
django-mathfield==0.1.0
django-mathfilters==0.4.0
django-ckeditor==5.6.1
django-webpack-loader==0.6.0

