{% extends 'base.html' %}
{% load static %}

{% block title %}BIT-Admin | Talento Humano{% endblock title %}
{% block content %}
    {% load customTalentoHumano %}
    <div class="right_col" role="main">
        <div class="">

            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="border-radius: 5px " class="x_panel">
                        <div class="x_title">
                            <h2>Talento Humano »
                                <small> Roles Pagos</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="tablaSueldoSalarios" class="table table-bordered table-striped dataTables_scroll">
                                <thead style="background-color: #5A738E;color: whitesmoke">
                                <th>RUC/CEDULA</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>DEPARTAMENTO</th>
                                <th>SUELDO</th>
                                <th>ESTADO</th>
                                <th style="text-align: center; width: 100px">OPCIONES</th>
                                </thead>
                                <tbody>
                                {% for empleado in empleados %}
                                    <tr>
                                        <td>{{ empleado.ruc }}</td>
                                        <td>{{ empleado.nombre }}</td>
                                        <td>{{ empleado.apellido }}</td>
                                        <td>{{ empleado.departamento }}</td>
                                        <td>{% sueldo empleado.id %}</td>
                                        <td>{% sueldoEstado empleado.id %}</td>
                                        <td style="text-align: center">
                                            <a href="/telento_humano/empleado/sueldo/registro/{{ empleado.id }}/" class="btn bg-orange btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                            {% if empleado.estado %}
                                                <a href="/telento_humano/empleado/sueldo/deshabilitar/{% sueldoId empleado.id %}/" class="btn bg-red btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script>
        Tablas("#tablaSueldoSalarios");
    </script>
{% endblock %}