{% extends 'base.html' %}
{% load static %}

{% block title %}BIT-Admin | Datos Electronicos{% endblock title %}
{% block content %}
    <div class="right_col" role="main">
          <div class="">

            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="border-radius: 5px" class="x_panel">
                  <div class="x_title">
                    <h2>Nota de Credito <small>Registo Nota Credito</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                        <a class="btn bg-blue" href="{% url 'registroNotaCredito' %}"><i class="fa fa-file-text "></i>  Nota Credito</a>
                        <a class="btn bg-orange"><i class="glyphicon glyphicon-print"></i> Imprimir</a>
                  </div>
                     <br/><br/> <br/><br/>

                    <div class="col-xs-12 table-responsive ">
                        <table id="tablaCredito" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
                      <thead style="background-color: #5A738E;color: whitesmoke">
                        <tr>
                          <th>FECHA EMISION</th>
                          <th>CLIENTE</th>
                          <th>IDENTIFICACION</th>
                          <th>COMPROBANTE</th>
                          <th>AUTORIZACION</th>
                          <th>EMISION</th>
                          <th>VALOR</th>
                          <th style="text-align: center; width: 100px" >OPCIONES</th>
                        </tr>
                      </thead>


                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>


                         </tr>

                      </tbody>
                    </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

    <script>
        $(document).ready(function () {
          $('#dtVerticalScrollExample').DataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": false
          });
          $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock content %}
{% block scripts %}
    <script>
        Tablas("#tablaCredito");
    </script>
{% endblock scripts %}
