{% extends 'base.html' %}
{% load static %}
{% block title %}BIT-Admin | Inventario{% endblock title %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Registro Proveedores</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="border-radius: 5px" class="x_panel">
                        <div class="x_title">
                            <h2><a href="{% url 'proveedores' %}">Proveedores »</a>
                                <small>Registro de Proveedores</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form method="POST" action="" class="form-horizontal form-label-left">
                                {% csrf_token %}
                                <input class="hidden" id="veri" type="text"name="verificar">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Identificacion :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <select style="border-radius: 5px" class="form-control has-feedback-left"
                                                name="tipoIdentificacion" id="tipoIdentificacion">
                                            {% for tident in tipos_identificacion %}
                                                <option value="{{ tident.id }}">{{ tident.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="fa fa-credit-card-alt form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Identificacion :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ ruc }}"
                                               class="form-control has-feedback-left" name="ruc" id="ruc" maxlength="13">
                                        <span class="fa fa-credit-card form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Razon Social :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ razonSocial }}"
                                               class="form-control has-feedback-left" name="razonSocial">
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre Comercial :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ nombreComercial }}"
                                               class="form-control has-feedback-left" name="nombreComercial">
                                        <span class="fa fa-industry form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Sector :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ sector }}"
                                               class="form-control has-feedback-left" name="sector">
                                        <span class="fa fa-location-arrow form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Actividad :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ actividad }}"
                                               class="form-control has-feedback-left" name="actividad">
                                        <span class="fa fa-check form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Celular :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ telefono }}"
                                               class="form-control has-feedback-left" name="telefono">
                                        <span class="fa fa-mobile form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Convencional <span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ convencional }}"
                                               class="form-control has-feedback-left" name="convencional">
                                        <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Web :<span class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ web }}"
                                               class="form-control has-feedback-left" name="web">
                                        <span class="fa fa-link form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3col-xs-12">Ingrese Pais :<span
                                            class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <select style="border-radius: 5px" class="form-control has-feedback-left" name="pais" id="pais">
                                            {% for pais in paises %}
                                                <option value="{{ pais.id }}">{{ pais.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3col-xs-12">Ingrese Provincia :<span
                                            class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-9 col-xs-12" name="provincias" id="provincias">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3col-xs-12">Ingrese Ciudad :<span
                                            class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-9 col-xs-12" name="lugarciudad" id="lugarciudad">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Parroquia :<span
                                            class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-9 col-xs-12" name="lugarparroquia" id="lugarparroquia"
                                         value="{{ parroquia }}">

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Direccion :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="text" value="{{ direccion }}"
                                               class="form-control has-feedback-left" name="direccion">
                                        <span class="fa fa-map-marker form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Email :<span
                                            class="required"></span></label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        <input style="border-radius: 5px" type="email" value="{{ email }}"
                                               class="form-control has-feedback-left" name="email">
                                        <span class="fa fa-envelope form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">Ingrese Estado :<span
                                            class="required"></span></label>

                                    <div class="col-md-9 col-sm-9 col-xs-12">

                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="flat" {% if estado == True %}
                                                       checked {% endif %} name="estado" value="1"> Activo
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" {% if estado == False %} checked {% endif %}
                                                       class="flat" name="estado" value="2"> Inactivo
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn bg-blue" type="submit"><i class="glyphicon glyphicon-save"></i> Guardar
                                        </button>
                                        <a class="btn bg-orange" href="{% url 'registroProveedores' %}"
                                           type="reset"><i class="fa fa-remove"></i> Limpiar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/ruc_jquery_validator.min.js' %}"></script>

    <script>
        var opciones = {
            strict: true,              // va a validar siempre, aunque la cantidad de caracteres no sea 10 ni 13
            events: "keyup",          // evento que va a disparar la validación
            the_classes: "invalid",    // clase que se va a agregar al nodo en el que se realiza la validación
            onValid: function () {

            if ($("#tipoIdentificacion option:selected").text()=='RUC' && $("#ruc").val().length==13){
                    $("#ruc").removeClass('parsley-error')
                    $('#veri').val('')
            }else{
                    if($("#tipoIdentificacion option:selected").text() =='CEDULA' && $("#ruc").val().length==10)
                    {
                        $("#ruc").removeClass('parsley-error')
                        $('#veri').val('')

                    }
                    else{
                        $("#ruc").addClass('parsley-error')
                        $('#veri').val('Error')

                    }
                }

            },   // callback cuando la cédula es correcta.
            onInvalid: function () {
                if($("#tipoIdentificacion option:selected").text() =='CEDULA' || $("#tipoIdentificacion option:selected").text()=='RUC')
                {
                    $("#ruc").addClass('parsley-error')
                    $('#veri').val('Error')
                }
                else{
                    $("#ruc").removeClass('parsley-error')
                     $('#veri').val('')
                }

            }  // callback cuando la cédula es incorrecta.
        };
        $('#ruc').validarCedulaEC(opciones);

        function valida(){
            $('#ruc').validarCedulaEC(opciones)
        }
        $("#tipoIdentificacion").change(valida()).change()
    </script>
    <script>
        $('#tipoIdentificacion option[value="{{ tipo.id }}"]').attr("selected", true);
        $(document).ready(function () {
            var prov = "";
            var ciud = "";
            var parr = "";

            function cambiosCiudades() {
                $('#pais').change(function () {
                    $.get('/configuracion/lugar/' + $(this).val() + "/", function (data) {
                        prov = '<select style="border-radius: 5px" class="form-control has-feedback-left" onchange= name="provincia" id="provincia">' + data + '</select> <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>';
                        $("#provincias").html(prov);
                        $('#provincia').change(function () {
                            $.get('/configuracion/lugar/' + $(this).val() + "/", function (data1) {
                                ciud = '<select style="border-radius: 5px" class="form-control has-feedback-left" name="ciudad" id="ciudad">' + data1 + '</select> <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>';
                                $("#lugarciudad").html(ciud);
                                $('#ciudad').change(function () {
                                    $.get('/configuracion/lugar/' + $(this).val() + "/", function (data2) {
                                        parr = '<select style="border-radius: 5px" class="form-control has-feedback-left" name="parroquia" id="parroquia">' + data2 + '</select> <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>';
                                        $("#lugarparroquia").html(parr);
                                    })
                                }).change();
                            })
                        }).change();
                    })
                }).change();
            }

            cambiosCiudades()
        });
        setTimeout(function () {
            var par;
            console.log({{ parroquia.lugar.lugar.lugar.id }})
            console.log({{ parroquia.lugar.lugar.id }})
            console.log({{ parroquia.lugar.id }})
            console.log({{ parroquia.id }})
            $('#pais option[value="{{ parroquia.lugar.lugar.lugar.id }}"]').attr("selected", true);
            $('#provincia option[value="{{ parroquia.lugar.lugar.id }}"]').attr("selected", true);
            $('#ciudad option[value="{{ parroquia.lugar.id }}"]').attr("selected", true);
            $("#lugarparroquia").html("");
            $.get('/configuracion/lugar/' + $('#ciudad').val() + "/", function (data2) {
                par = '<select style="border-radius: 5px" class="form-control" name="parroquia" id="parroquia">' + data2 + '</select>';
                $("#lugarparroquia").html(par);
                $('#parroquia option[value="{{ parroquia.id }}"]').attr("selected", true);
            })

        }, 1000)

    </script>
{% endblock %}