<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporte Proveedores</title>
    <style>
        @page  {
            size: A4 portrait;
            margin: 30px;
        }
    </style>
</head>
<body>
<img src="{{ configuracion.ruta_imagenes }}/media/{{ configuracion.encabezado }}" style="width: 100%;" alt="">
<div style="text-align: center;font-size: 13px">
    <p><strong>REPORTE DE PROVEEDORES REGISTRADOS</strong></p>
</div>
<div style="text-align: left;font-size: 13px">
    <p><strong>Fecha reporte: </strong> {{ formatedDay }}</p>
</div>
<div id="pag">

    <table style="border-radius: 15px;color: {{ reporte.color_texto }};">

       <thead>
         <tr style="padding: 3px; padding-top: 5px; border: 1px solid {{ configuracion.color_lineas }}">
             <th style="text-align: left;background-color: {{ reporte.color_encabezados_tablas }}; color: {{ reporte.color_encabezados_tablas_texto }}; width: 100px;">RUC/CEDULA</th>
             <th style="text-align: left;background-color: {{ reporte.color_encabezados_tablas }}; color: {{ reporte.color_encabezados_tablas_texto }}; width: 170px;">RAZON SOCIAL</th>
             <th style="text-align: left;background-color: {{ reporte.color_encabezados_tablas }}; color: {{ reporte.color_encabezados_tablas_texto }}; width: 100px;">TELEFONO</th>
             <th style="text-align: left;background-color: {{ reporte.color_encabezados_tablas }}; color: {{ reporte.color_encabezados_tablas_texto }}; width: 150px;">WEB</th>
             <th style="text-align: left;background-color: {{ reporte.color_encabezados_tablas }}; color: {{ reporte.color_encabezados_tablas_texto }}; width: 150px;">DIRECCION</th>
             <th style="text-align: center;background-color: {{ reporte.color_encabezados_tablas }}; color: {{ reporte.color_encabezados_tablas_texto }}; width: 100px;">ESTADO</th>
         </tr>
       </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr style="padding: 3px; padding-top: 5px; border: 1px solid {{ configuracion.color_lineas }}">
                    <td style="text-align: left; color: {{ reporte.color_texto }}">{{ proveedor.ruc }}</td>
                    <td style="text-align: left; color: {{ reporte.color_texto }}">{{ proveedor.razonSocial }}</td>
                    <td style="text-align: left; color: {{ reporte.color_texto }}">{{ proveedor.telefono }}</td>
                    <td style="text-align: left; color: {{ reporte.color_texto }}">{{ proveedor.web }}</td>
                    <td style="text-align: left; color: {{ reporte.color_texto }}">{{ proveedor.direccion }}</td>
                    <td style="text-align: center; color: {{ reporte.color_texto }}">
                        {% if proveedor.estado == 1 %}
                           <strong>Activo</strong>
                        {% else %}
                            <strong>Inactivo</strong>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>